[client]
port            = 3306
socket          = /var/run/mysqld/mysqld.sock

[mysqld_safe]
pid-file        = /var/run/mysqld/mysqld.pid
socket          = /var/run/mysqld/mysqld.sock
nice            = 0

open_files_limit = 32768

[mysqld]
user            = mysql
#pid-file        = /db/mysqld/mysqld.pid
#socket          = /db/mysqld/mysqld.sock
port            = 3306
basedir         = /usr
datadir         = /var/lib/mysql
tmpdir          = /tmp
lc-messages-dir = /usr/share/mysql
explicit_defaults_for_timestamp

log-error       = /var/log/mysql/error.log

symbolic-links=0


server_id={{ inventory_hostname | regex_replace('^v0*', '') }}
report_host={{ inventory_hostname }}

report_port=3306

sql_mode=NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES 
default-storage-engine=innodb

#innodb_buffer_pool_size=1GB 
innodb_io_capacity=8000
skip_innodb_doublewrite
innodb_flush_method=O_DIRECT

innodb_flush_log_at_trx_commit=1
sync_binlog=1

log-bin=binlog
log-slave-updates
gtid-mode=ON
enforce-gtid-consistency
slave_net_timeout=10
binlog_format=mixed
relay-log=relaylog

#slave-parallel_type=logical_clock

master_info_repository=table
relay_log_info_repository=table
relay_log_recovery=on
max_binlog_size=128MB
sync_binlog=1

max_connect_errors=10000

slow_query_log = 1
long_query_time = 1

read_only=1

max_connections = 2200
table_open_cache = 1024

innodb_autoinc_lock_mode = 2


